* {
    padding: 0;
    margin: 0;
}

html {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    color: ivory;
    font-size: 3em;
}

.board {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.instructions {
    background: tan;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.score_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: tan;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    height: 100px;
    width: 150px;
    padding: 15px;
}

.score_title, .score {
    font-size: 24px;
    font-weight: bold;
}

.result {
    padding: 15px;
    min-height: 20px;
    width: 250px;
    border: 2px solid black;
    background: tan;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button {
    font-size: 24px;
    padding: 10px;
}